# Configuration
lib/ProductOpener/Config2.pm
lib/ProductOpener/SiteLang.pm
po/site-specific

# tests outputs
tests/unit/outputs/
tests/integration/outputs/

# local configs, most of them are link to files in conf/ depending on instance
/html/.well-known/apple-*
/log.conf
/minion_log.conf

# data dirs - we shall not mix data and git files, as it makes deployments/updates difficult
/build-cache
/debug
/deleted.images
/dist
/logs
/new_images
/orgs
/products
/tmp
/users
/imports
/lang
/html/dump
/html/files
/html/data
/html/exports
/deleted_private_products
/deleted_products
/deleted_products_images
/export_files

# Images
/html/images/products


# Local files
.DS_Store?
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
git add .gitignore
git commit -m "Add patterns for local development artifacts to .gitignore"
git push origin ignore-local-artifacts.vstags
# editors
.~*
git add .gitignore
git commit -m "Add patterns for local development artifacts to .gitignore"
git push origin ignore-local-artifacts.*.swo
.*.swp
.vscode/launch.json
.vscode/perl-lang/
.vscode/settings.json
.idea/

# Logs
logs/
!scripts/utils/logs
debug/
Store.debug.txt
*.log
nytprof*.out

# Local databases
data/mongodb
Lang.open*
users_emails.sto
html/data/*
html/products_countries.js
products_stats_*.html

# Libraries
node_modules
html/bower_components
local

# Front build
/html/css/dist
/html/js/dist
/html/images/icons/dist
/html/images/attributes/dist

# Don't store helm dependencies in our git repo
docker/productopener/charts
docker/logs

# Exclude 3rd party deps, because SonarCloud ignores files in a .gitignore
html/js/datatables.*
html/js/jquery*
html/js/*nivo-zoom*
html/js/sigma*

# coverage data
/cover_db

# Env files
.env*
venv

# Taxonomies and cache
cache
taxonomies/*.sto
taxonomies/*.result.txt
taxonomies/*.all.txt
/build-cache/taxonomies/*.json
/build-cache/taxonomies/*.sto
/build-cache/taxonomies/*.result.txt

# Shared services and other dependencies
/deps
/deps/*


# Arise at local build
.github/scripts/path-filter.sh
.github/scripts/setup_git.sh
cgi/auth.pl
cgi/display.pl
cgi/export_products.pl
cgi/generate_sample_import_file.pl
cgi/import_file_job_status.pl
cgi/import_file_process.pl
cgi/import_file_select_format.pl
cgi/import_file_upload.pl
cgi/import_photos_upload.pl
cgi/import_products_categories_from_public_database.pl
cgi/ingredients.pl
cgi/manifest.pl
cgi/minion_job_status.pl
cgi/nutrition.pl
cgi/opensearch.pl
cgi/product.pl
cgi/product_image_crop.pl
cgi/product_image_rotate.pl
cgi/product_image_unselect.pl
cgi/product_image_upload.pl
cgi/product_jqm.pl
cgi/product_jqm2.pl
cgi/product_jqm_multilingual.pl
cgi/product_multilingual.pl
cgi/reset_password.pl
cgi/search.pl
cgi/session.pl
cgi/sso.pl
cgi/sugar_check.pl
cgi/sugar_random.pl
cgi/test_ingredients_analysis.pl
cgi/version.pl
conf/nginx/conf.d/expires-no-json-xml.conf
cron/import_systemeu.sh
docker/docker-entrypoint.sh
docker/docker-livecheck.sh
env/setenv.sh
external-data/ciqual/calnut/CALNUT.xlsx
external-data/ciqual/calnut/ssconvert.sh
external-data/ciqual/ciqual/CIQUAL.csv
external-data/environmental_score/agribalyse/ssconvert.sh
external-data/environmental_score/data/ssconvert.sh
external-data/forest-footprint/envol-vert/ssconvert.sh
howmuchsugar/en/*
howmuchsugar/fr/*
html/donate/nl.html
html/donate/pt.html
html/favicon.ico
html/images/attributes/convert_svg_files_to_png.sh
html/images/icons/convert_svg_icons_to_png.sh
html/images/lang/de/labels/biokreis.90x90.svg
html/images/misc/*
html/js/images/*
icons/*
lib/ProductOpener/Config2_docker.pm
lib/ProductOpener/PackagingStats.pm
lib/startup_apache2.pl
po/common/nl.po
po/common/pt.po
po/common/zh.po
po/tags/nl.po
scripts/add_agribalyse_food_codes_to_taxonomy.pl
scripts/add_nutriscore_to_scanbot_csv.pl
scripts/aggregate_ingredients.pl
scripts/authorized_additives.pl
scripts/ban_abusive_ip.pl
scripts/bayard-import/run_bayard_import.sh
scripts/build_countries_taxonomy_from_wikidata.pl
scripts/build_lang.pl
scripts/build_languages_taxonomy_from_wikidata.pl
scripts/build_mkdocs.sh
scripts/check-translations.sh
scripts/check_additives_taxonomy.pl
scripts/check_if_orgs_can_be_safely_synced_with_crm.pl
scripts/check_lang_pm.pl
scripts/check_photos.pl
scripts/check_products_in_mongodb.pl
scripts/check_products_in_sto_files.pl
scripts/checkbot.pl
scripts/checkmongodb.pl
scripts/compute_missions.pl
scripts/compute_missions_for_user.pl
scripts/convert_auchan_data.sh
scripts/convert_barilla_data.sh
scripts/convert_biscuiterie_sainte_victoire_data.sh
scripts/convert_casino_data.sh
scripts/convert_csv_file.pl
scripts/convert_ferrero_data.sh
scripts/convert_ferrero_photos.sh
scripts/convert_foodrepo_data.sh
scripts/convert_gs1_json_to_off_csv.pl
scripts/convert_gs1_xml_to_json_in_dir.pl
scripts/convert_harrys_data.sh
scripts/convert_iglo_data.sh
scripts/convert_intermarche_data.sh
scripts/convert_ldc_data.sh
scripts/convert_nestle_nutrition_data.pl
scripts/convert_saintelucie_data.sh
scripts/convert_scamark_data.sh
scripts/convert_scamark_test.sh
scripts/count_product_contributions_by_year.pl
scripts/create_mongodb_indexes.pl
scripts/create_small_categories_nutriments_per_country_for_testing.pl
scripts/delete_products_from_user.pl
scripts/deploy/install-dist-files.sh
scripts/deploy/verify-deployment.sh
scripts/export_and_import_to_public_database.pl
scripts/export_battle_food.pl
scripts/export_best_remap.sh
scripts/export_best_remap_cc_country_category.sh
scripts/export_best_remap_fr.sh
scripts/export_csv_file.pl
scripts/export_data.pl
scripts/export_database.pl
scripts/export_ecoscore_data.sh
scripts/export_producers_platform_data_to_public_database.sh
scripts/export_products_data_and_images.pl
scripts/export_tags_hierarchies.pl
scripts/export_to_be_automatically_exported_data_to_public_database.sh
scripts/extract_additives.pl
scripts/extract_historical_product_data.pl
scripts/extract_images.pl
scripts/extract_individual_ingredients.pl
scripts/extract_ingredients_test_set.pl
scripts/extract_nutrition_images_and_crop_data.pl
scripts/extract_nutrition_test_set.pl
scripts/find_and_replace_user_id_in_products.pl
scripts/fix_non_normalized_codes.pl
scripts/gen_feeds_daily.sh
scripts/gen_opff_leaderboard.pl
scripts/gen_opff_leaderboard.sh
scripts/gen_packaging_stats.pl
scripts/gen_pro_users_emails_list.pl
scripts/gen_sucres.pl
scripts/gen_sugar.pl
scripts/gen_top_tags_per_country.pl
scripts/gen_users_emails.pl
scripts/gen_users_emails_list.pl
scripts/gen_users_names.pl
scripts/generate_madenearme_page.pl
scripts/generate_madenearme_pages.sh
scripts/generate_pao_taxonomy.pl
scripts/generate_perl_html_doc_from_pod.pl
scripts/generate_polyquaternium.pl
scripts/images/gen_svg_images_for_nutriscore_new_formula.pl
scripts/images/gen_svg_images_for_points.pl
scripts/import_auchan.sh
scripts/import_biscuiterie_sainte_victoire.sh
scripts/import_csv_file.pl
scripts/import_ferrero.sh
scripts/import_images.pl
scripts/import_intermarche.sh
scripts/import_ldc_test.sh
scripts/import_more_sample_data.sh
scripts/import_products_with_weights.sh
scripts/import_sample_data.sh
scripts/import_scamark.sh
scripts/imports/agena3000/run_agena3000_import.sh
scripts/imports/alnatura/run_alnatura_import.sh
scripts/imports/carrefour/*
scripts/imports/equadis/run_equadis_import.sh
scripts/imports/intermarche/run_intermarche_import.sh
scripts/imports/nestledeutschland/run_nestledeutschland_import.sh
scripts/imports/producers_imports.sh
scripts/imports/systemeu/*
scripts/list_ingredients.pl
scripts/list_subdomains.pl
scripts/load_products_in_mongodb.pl
scripts/make_user_moderator.pl
scripts/merge_additives_lists.pl
scripts/migrations/*
scripts/minion_producers.pl
scripts/mongodb_dump.sh
scripts/move_obsolete_products_to_products_obsolete_collection.pl
scripts/obsolete/*
scripts/packager-codes/*
scripts/popular_products_images.pl
scripts/preprocess_intermarche_packaging_csv_file.pl
scripts/print_all_translations.pl
scripts/product_revision_to_historical_events.pl
scripts/remove_all_private_products_for_owner.pl
scripts/remove_empty_products.pl
scripts/remove_products_without_code.pl
scripts/reset_password_for_user.pl
scripts/revert_changes_from_user.pl
scripts/run_cloud_vision_ocr.pl
scripts/save_org_product_data_daily_off_pro.pl
scripts/scanbot.pl
scripts/snippets/*
scripts/sto_to_json.pl
scripts/sto_to_xml.pl
scripts/tag_stores_magasins_u.pl
scripts/taxonomies/*
